header {
    background-color: #F5F5DC;
}

.banner_content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_item {
    text-align: center
}

.banner_images {
    width: 6em;
    height: 6em;
    background-color: white;
    padding:2em;
    border: 1px solid;
    border-radius: 2em;
    border-color: black;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

section {
  text-align:center;
  justify-content: center;
  margin: auto;
  max-width:40%;
}

p, h1 {
    font-family: 'Manrope', sans-serif;
}

button {
  align-items: center;
  background-clip: padding-box;
  background-color: #F5F5DC;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Manrope",Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  background-color: #eeeec4;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.5em 1em;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #e0e094;
  box-shadow: rgba(0, 0, 0, .06) 0 0.2em 0.4em;
  transform: translateY(0);
}